.box{
    min-height:40px;
    width: 90%;
    border:1px solid rgba(128, 128, 128, 0.183);
    margin-bottom: 8px;
    background-color:rgb(245, 244, 244);
}
.check_date{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.timeslot-wrapper{
    display: flex;
    flex-direction: column;
}

.timeslot{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0 10px 0;
}


h5{
    font-size:18px;
    font-weight:600;    
}
.date-pad{
    padding:0 10px;
}
